.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  background: var(--circle1);
  left: -30%;
  top: -20%;
}

@keyframes glideDown {
  from {
    left: -30%;
    top: -20%;
  }

  to {
    left: -30%;
    top: 80%;
  }
}

.circle2 {
  background: var(--circle2);
  right: -25%;
  bottom: -20%;
  animation: glideUp 2.5s ease-in-out infinite alternate;
}

@keyframes glideUp {
  from {
    right: -25%;
    bottom: -20%;
  }

  to {
    right: -25%;
    bottom: 80%;
  }
}

.loginForm {
  height: 75%;
  width: 35%;
  background-color: var(--formBackground);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid var(--formBackgroundBorder);
  box-shadow: var(--formBackgroundShadow);
  padding: 50px 35px;
}

.loginForm * {
  font-family: "Poppins", sans-serif;
  color: var(--light);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.loginForm h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.loginLabel {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.loginInput {
  display: block;
  height: 50px;
  width: 100%;
  background-color: var(--formBackground);
  border-radius: 3px;
  padding: 0 35px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #acacac;
}

.loginButton {
  margin-top: 50px;
  width: 100%;
  background-color: var(--light);
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.deactivated {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.loginError {
  color: #ff0000;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  margin-left: 40px;
}

.icon {
  position: absolute;
  padding-top: 25px;
  left: 47px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .loginForm {
    width: 80%;
  }
  .loginForm h1 {
    font-size: 40px;
  }
  .loginError {
    margin-left: 10px;
  }
  .loginLabel {
    font-size: 14px;
  }
  ::placeholder {
    color: #acacac;
    font-size: 10px;
  }
  .circle1 {
    left: -50%;
    top: -20%;
  }

  @keyframes glideDown {
    from {
      left: -50%;
      top: -20%;
    }

    to {
      left: -50%;
      top: 80%;
    }
  }

  .circle2 {
    right: -50%;
    bottom: -20%;
  }

  @keyframes glideUp {
    from {
      right: -50%;
      bottom: -20%;
    }

    to {
      right: -50%;
      bottom: 80%;
    }
  }

  .background {
    width: 200px;
  }
}
