.list {
  list-style: none;
  margin-bottom: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border-radius: 5px;
}

.listItem {
  width: 300px;
  padding-left: 5px;
  padding: 0.75rem;
}

.inputItem {
  width: 300px;
  padding-left: 5px;
  padding: 0.75rem;
}

.deleteButton {
  color: #f43f6c;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 50px;
}
.deleteButton:hover {
  background: radial-gradient(#f43f6c, #f46c3f);
  color: white;
}

.editButton {
  color: #00b300;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 50px;
}
.editButton:hover {
  background: radial-gradient(#00b300, #00e600);
  color: white;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .listItem {
    width: 200px;
    font-size: 15px;
  }
  .inputItem {
    width: 200px;
    font-size: 15px;
  }
  .editButton {
    left: 250px;
    width: 43px;
    height: 43px;
    padding: 0.2rem;
  }
  .deleteButton {
    left: 295px;
    width: 43px;
    height: 43px;
    padding: 0.2rem;
  }
  .trash {
    width: 17px;
  }
  .pen {
    width: 25px;
  }
}
